<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-row>
        <ion-col size="3">
          <input type="text" name="serch" size="small">
          <ion-icon (click)="gotoContactpage()"fill="clear" color="dark" name="cart-sharp"></ion-icon>
          <ion-icon (click)="gotoContactpage1()"fill="clear" color="dark"name="chatbubbles-sharp"></ion-icon>
        </ion-col>
      </ion-row>
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-content class="body" >

    <ion-card  weight="100"  align="center">
      <div align="center">
        <h1 >WWork S1 </h1>
      <img  src="assets/images/WWorkS1.jpg"  alt="WWorkS1" >
      <div id="text"><p >WWork S1 </p>
        <p align="right">40,000฿</p> </div>
        <div >
        <p align="left"  >ประเภท : W WOR K S1 DS021 </p>
        <p align="left">แบบ : สี Hyper Silver ขอบเงา</p>
        <p align="left" >ขอบ : 15นิ้ว</p>
      </div>
    </div>
    </ion-card>

    <ion-card  weight="100">
      <div align="center">
        <h1 >MS </h1>
      <img  src="assets/images/MS.jpg"  alt="MS">
      <div id="text">
        <p align="left" >MS</p>
        <p align="right" >40,000฿ </p>
      </div>
        <p align="left" >ประเภท : ปลายคู่ </p>
        <p align="left">แบบ : ปลายท่อแสตนเลส</p>
        <p align="left"> ขนาด กว้าง x ยาว : 5.6 x 8.9</p>
    </div>
    </ion-card>

    <ion-card  weight="100">
      <div align="center">
        <h1 >RB26dett </h1>
      <img  src="assets/images/RB26dett.jpg"  alt="RB26dett" >
      <div id="text">
      <p align="left">RB26dett </p> <p align="right" >250,000 B.</p></div>
        <p align="left"> แบบ :    6 สูบ DOHC 24 V.</p>
        <p align="left"> แรงอัด    : 8.5:1</p>
        <p align="left"> แรงม้า    : 280/6800</p>
        <p align="left"> แรงบิด    : 340/4400</p>
    </div>
    </ion-card>
  </ion-content>
</ion-content>
