<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="#F10E00">
      <ion-back-button color="dark"><ion-icon></ion-icon></ion-back-button>
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar color="black">
    <h1 align="center">ศูนย์ช่วยเหลือ</h1>
  </ion-toolbar>
  <ion-tab-bar size="big">
    <div class="text">
    <p align="left">ต้องการความช่วยเหลือเพิ่มเติม?</p>
    <p align="left">โทร 020016749  (08:00 - 22:00น.วันจันทร์ถึงวันเสาร์)</p>
  </div>
  </ion-tab-bar>
</ion-content>
