<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="#F10E00">
      <ion-back-button color="dark"></ion-back-button>
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="body" >

    <ion-card  weight="100" height align="center">
      <div align="center">
        <h1 >WWork S1 </h1>
      <img  src="assets/images/WWorkS1.jpg"  alt="WWorkS1" >
       <td align="left"><p class="body">WWork S1 </p></td> <td align="right"><p  >40,000 B.</p></td>
        <p> W WOR K S1 DS021 ขอบ </p><p>15นิ้ว สีHyper Silver ขอบเงา</p>

    </div>

    </ion-card>
    <ion-card  weight="100" height >
      <div align="center">
        <h1 >MS </h1>
      <img  src="assets/images/MS.jpg"  alt="MS">
        <p align="left">MS</p> <p align="right" >40,000 B.</p>
        <p align="left">ประเภท : ปลายคู่ </p>
        <p align="left">แบบ : ปลายท่อแสตนเลส</p>
        <p align="left"> ขนาด กว้าง x ยาว : 5.6 x 8.9</p>

    </div>

    </ion-card>
    <ion-card  weight="100" height >
      <div align="center">
        <h1 >RB26dett </h1>
      <img  src="assets/images/RB26dett.jpg"  alt="RB26dett" >
        <p align="left">RB26dett </p> <p align="right" >250,000 B.</p>
        <p align="left"> แบบ :    6 สูบ DOHC 24 V.</p>
        <p align="left"> แรงอัด    : 8.5:1</p>
        <p align="left"> แรงม้า    : 280/6800</p>
        <p align="left"> แรงบิด    : 340/4400</p>
    </div>

    </ion-card>

  </ion-content>
</ion-content>

