<ion-header>
  <ion-toolbar>

    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div align="center"> <h1>ชำระสำเร็จ</h1><p>กำลังดำเนินการ</p></div>
<ion-tab-button >
  <div align="center">
    <img  src="assets/images/currect.png"  alt="currect" >
  </div>
  <div class="footer"align="center">
    <p>กำลังดำเนินการ</p>
    <ion-button (click)="gotoTab3()">แจ้งเตือนสินค้า</ion-button>
    <ion-button (click)="gotoTab1()">ไปหน้าหลัก</ion-button>
  </div>
</ion-tab-button>
</ion-content>