ion-content {
    --background: #000000;
    --ion-text-color:white;
    
  }
  ion-toolbar {
    --background: #F10E00;
    --ion-text-color:white;
    padding-top: 100%;
  }
ion-tab-button{
  --background:#F10E00;
}
