ion-content {
  --background: #000000;
  --ion-text-color:white;
}
ion-card{
  border-style: solid;
  border-color: white;
  --background: #000000;
  position: auto;
}
ion-toolbar {
  --background: #F10E00;
}
ion-tab-bar{
  background-color: #000000;
  --ion-text-color:white;
}