ion-content {
    --background: black;
    --ion-text-color:white;
  }
ion-toolbar{
    --background: #F10E00;
  }
  ion-button {
    --background: #F10E00;
  }
  ion-card{
    border-style: solid;
    border-color: white;
    --background: #000000;
    position: auto;
  }