<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="#F10E00">
      <ion-back-button color="dark"></ion-back-button>
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div align="center">ยกเลิกสำเร็จ</div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="1">
    <img src="assets/images/currect.png" />

 <div align="center">
  <ion-button (click)="gotoBackHome()" fill="outline" color="light">ไปหน้าหลัก</ion-button>
 </div>
  </ion-card>

</ion-content>
