ion-content {
  --background: #000000;
}
ion-toolbar {
  --background: #F10E00;
  --ion-text-color:white;
}
ion-tab-button{
--background:#F10E00;
}
ion-card {
--background: #000000;
}
input.message{
position: button;
top: 50px;
border-style: solid;
border-color: white;
}
