<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="#F10E00">
      <ion-back-button color="dark"></ion-back-button>
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div>
    <h1 align="center">เครื่องยนต์</h1>
    <div id="flexbox">
      <div class="1">
    <img (click)="gotodetail('RB26dett','assets/images/RB26dett.jpg',['แบบ :	6 สูบ DOHC 24 V.',' ขนาด	: 2568cc','ความกว้าง X ช่วงชัก :	86 X 73.7',' แรงม้า	: 360Hp/6800rpm'],' 200000')" src="assets/images/RB26dett.jpg"  alt="Steering wheel" width="100" height="100">
      <p align="center">RB26dett</p>
  </div>

  <div align="center">
  <img (click)="gotodetail('RB25det','assets/images/RB25det.jpg',['แบบ :	6 สูบ DOHC 24 V.  ',' ขนาด	: 2498cc. ','ความกว้าง X ช่วงชัก :	86 x 71.7',' แรงม้า	: 350/Hpี่6400rpm'],' 180000')" src="assets/images/RB25det.jpg"  alt="Exhaust" width="100" height="100">
    <p align="center">RB25det</p>
  </div>

  <div align="center">
    <img (click)="gotodetail('2JZ','assets/images/2JZ.jpg',['แบบ :	6 สูบDOHC 24 V. ',' ขนาด	: 2,997 C.C.  ','ความกว้าง X ช่วงชัก :86 x  86 ',' แรงม้า	: 326Hp/5600rpm '],' 120000')" src="assets/images/2JZ.jpg"   alt="Engine" width="100" height="100">
      <p align="center">2JZ</p>
    </div>

    <div align="center">
      <img (click)="gotodetail('4G63T','assets/images/4G63T.jpg',['แบบ :	6 สูบDOHC 24 V. ',' ขนาด	: 2,997 C.C.  ','ความกว้าง X ช่วงชัก :86 x  86  ',' แรงม้า	: 326Hp/5600rpm '],' 90000')" src="assets/images/4G63T.jpg"   alt="Wheel" width="100" height="100">
        <p align="center">4G63T</p>
      </div>


      <div  align="center">
        <img (click)="gotodetail('FD3S','assets/images/FD3S.jpg',['แบบ :	4 สูบ DOHC 16 VALVE ',' ขนาด	: 1,997 C.C.  ','ความกว้าง X ช่วงชัก :	 85 x 88',' แรงม้า	:327  Hp/ี่ 4,500rpm  '],' 150000')" src="assets/images/FD3S.jpg"   alt="Tire" width="100" height="100">
          <p align="center">FD3S</p>
        </div>


      <div  align="center">
        <img (click)="gotodetail('VQ35HR','assets/images/VQ35HR.jpg',['แบบ :	V6 ',' ขนาด	: 3,500 cc. 2 ลิ้น ','ความกว้าง X ช่วงชัก :	 95.5 x 81.4',' แรงม้า	:  300 Hp/ี่ 4,500rpm'],' 140000')" src="assets/images/VQ35HR.jpg"   alt="Tire" width="100" height="100">
          <p align="center">VQ35HR</p>
      </div>
    </div>
  </div>
    </ion-content>

