<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="#F10E00">
      <ion-back-button color="dark"></ion-back-button>
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <h1 align="center">ยาง</h1>
    <div id="flexbox">
      <div class="1">
    <img (click)="gotodetail('bridgestone','assets/images/bridgestone.png',['นำเข้า : ญี่ปุ่น',' น้ำหนัก :825','ขอบ : 19',' ขนาดยาง : 275/40'],'10000')"src="assets/images/bridgestone1.png"   alt="Steering wheel" width="100" height="100">
      <p align="center">bridgestone</p>
  </div>
  <div align="center">
  <img (click)="gotodetail('Michelin','assets/images/Michelin.jpg',['นำเข้า : ฝรั่งเศษ ',' น้ำหนัก : 630','ขอบ : 18','  ขนาดยาง : 245/35'],'15000')" src="assets/images/Michelin.jpg"  alt="Exhaust" width="100" height="100">
    <p align="center">Michelin</p>
  </div>

  <div align="center">
    <img (click)="gotodetail('Yokohama','assets/images/Yokohama.jpg',['นำเข้า : ญี่ปุ่น ',' น้ำหนัก : 670 ','ขอบ : 18',' ขนาดยาง : 255/35'],'12000')" src="assets/images/Yokohama.jpg"   alt="Engine" width="100" height="100">
      <p align="center">Yokohama</p>
    </div>
    <div align="center">
      <img (click)="gotodetail('Pirelli','assets/images/Pirelli.jpg',['นำเข้า : อิตาลี. ',' น้ำหนัก :825 ','ขอบ : 19',' ขนาดยาง : 275/40'],'25000')" src="assets/images/Pirelli.jpg"   alt="Wheel" width="100" height="100">
        <p align="center">Pirelli</p>
      </div>
      <div  align="center">
        <img (click)="gotodetail('Dunlop','assets/images/Dunlop.jpg',['นำเข้า : ไอร์แลนด์ ',' น้ำหนัก : 670 ','ขอบ : 18',' ขนาดยาง : 255/35'],'21000 ')" src="assets/images/Dunlop.jpg"   alt="Tire" width="100" height="100">
          <p align="center">Dunlop</p>
        </div>

      </div>
    </ion-content>

