<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="#F10E00">
      <ion-back-button color="dark"></ion-back-button>
    </ion-button>ออกจากระบบ
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <h1 align="center">คุณต้องการออกจากระบบหรือไม่</h1>
  <div>
    <div align="center">
  <ion-button class="Bottom"  (click)="gotoLogin()" name="login" >ออกจากระบบ</ion-button>
  </div>
  <div align="center" >
  <ion-button class="Bottom"  (click)="gotoTab1()" name="tab1" >ยกเลิก</ion-button>
</div>
</div>
</ion-content>

