ion-content {
    --background: #000000;
    --ion-text-color:rgb(255, 255, 255);
    
  }
  ion-toolbar {
    --background: #F10E00;
    --ion-text-color:white;
    padding-top: 100%;
  }
ion-tab-button{
  --background:#F10E00;
  border-radius: 50px;
}
