<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="#F10E00">
      <ion-back-button color="dark"></ion-back-button>
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div align="center">ยกเลิกการสั่งซื้อ</div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cen</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="1">
    <div class="1">
      <th><img src="assets/images/WWorkS1.jpg" alt="WWorkS1" weight="80"height="80">WWosrs1</th>
      <th><p align="left"> </p> <p align="right" > 40,000 B.</p>
        <p align="left"> ขอบ : 15</p>
        <p align="left">ขนาด : 5 ก้าน </p>
        <p align="left">กว้าง : 9.5 </p>
        <p align="left">ออฟ :25</p>
        <p align="left">สี : โครเมี่ยม</p>
  </th>
  <div align="right"><ion-button  (click)="gotoCenyes()"fill="outline" color="light">ยกเลิกการสั่งซื้อ</ion-button><br></div>
    </div>
  </ion-card>
</ion-content>
